// @use "mixin" as m;

// Брейкпоінти
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// .poster {
//   @include m.mq($bp: md, $type: max, $is-retina: true) {
//     background-image: url("../images/image_@2x.jpg");
//   }
// }

// .box {
//   @include m.mq($bp: xl) {
//     display: flex;
//   }
// }
